@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  width: 100vw;
  height: 100vh;
}

.container .spinner {
  animation: spinner 1.5s linear infinite;
  border: 5px solid rgba(109, 1, 109, 0.6);
  border-radius: 50%;
  border-top: 5px solid rgba(255, 0, 0, 0.6);
  box-shadow: 0 0 10px 5px rgba(185, 85, 39, 0.6);
  height: 50px;
  margin: 20px auto 0;
  width: 50px;
}
