.timeList {
  display: flex;
  flex-direction: column; /* stack em vert style for li */
  list-style: none;
  margin: auto;
  width: 100%;
  text-align: center;
}

div.timeEntry {
  margin-bottom: 10px;
}

div.timeEntry::after {
  content: "-";
}

div.timeEntry p {
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: bold;
  margin: 0;
}

ul {
  padding-inline-start: 0px; /* this is one way to override the 40px bump for ul */
}
