.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: url("/public/background_image.png") no-repeat center center;
  background-size: cover;
}

.page {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

html {
  background-color: rgba(85, 85, 114, 0.8);
}

body::-webkit-scrollbar {
  display: none;
}
